@keyframes ldio-4pkh2pciyyg {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-4pkh2pciyyg div {
    left: 95.545px;
    top: 54.175px;
    position: absolute;
    animation: ldio-4pkh2pciyyg linear 2.564102564102564s infinite;
    background: #201d1d;
    width: 5.91px;
    height: 76.83px;
    border-radius: 2.955px / 38.415px;
    transform-origin: 2.955px 44.325px;
  }.ldio-4pkh2pciyyg div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -2.42914979757085s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(2) {
    transform: rotate(18.94736842105263deg);
    animation-delay: -2.294197031039136s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(3) {
    transform: rotate(37.89473684210526deg);
    animation-delay: -2.1592442645074224s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(4) {
    transform: rotate(56.8421052631579deg);
    animation-delay: -2.0242914979757085s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(5) {
    transform: rotate(75.78947368421052deg);
    animation-delay: -1.8893387314439947s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(6) {
    transform: rotate(94.73684210526316deg);
    animation-delay: -1.7543859649122806s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(7) {
    transform: rotate(113.6842105263158deg);
    animation-delay: -1.6194331983805668s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(8) {
    transform: rotate(132.6315789473684deg);
    animation-delay: -1.484480431848853s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(9) {
    transform: rotate(151.57894736842104deg);
    animation-delay: -1.349527665317139s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(10) {
    transform: rotate(170.52631578947367deg);
    animation-delay: -1.214574898785425s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(11) {
    transform: rotate(189.47368421052633deg);
    animation-delay: -1.0796221322537112s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(12) {
    transform: rotate(208.42105263157896deg);
    animation-delay: -0.9446693657219973s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(13) {
    transform: rotate(227.3684210526316deg);
    animation-delay: -0.8097165991902834s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(14) {
    transform: rotate(246.31578947368422deg);
    animation-delay: -0.6747638326585695s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(15) {
    transform: rotate(265.2631578947368deg);
    animation-delay: -0.5398110661268556s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(16) {
    transform: rotate(284.2105263157895deg);
    animation-delay: -0.4048582995951417s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(17) {
    transform: rotate(303.1578947368421deg);
    animation-delay: -0.2699055330634278s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(18) {
    transform: rotate(322.10526315789474deg);
    animation-delay: -0.1349527665317139s;
    background: #201d1d;
  }.ldio-4pkh2pciyyg div:nth-child(19) {
    transform: rotate(341.05263157894734deg);
    animation-delay: 0s;
    background: #201d1d;
  }
  .loadingio-spinner-spinner-b6xvq6mrcco {
    display: block;
    margin: 0 auto;
    margin-top: 12px;
    width: 197px;
    height: 232px;
    overflow: hidden;
    background: #ffffff;
  }
  .ldio-4pkh2pciyyg {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-4pkh2pciyyg div { box-sizing: content-box; }